.h1{
    justify-content: center;
    text-align: center;
}
.main-body{
    background-color: blanchedalmond;
    margin: 20px;
}
.col-sm{
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: lightgray;
}
.row{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.sidebar {
	display: flex;
	justify-content: baseline;
	word-wrap:break-word;
	padding: 0px;
	background-color: lightgrey;
	width: 25%;
	height: 16vh;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	float: right;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 0%;
	margin-right: 10px;
	text-align: left;
	font-family: 'Courier New', Courier, monospace;
	color: black;
    border: 1px solid black;
}
.submit {
    float: left;
}
